@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
@tailwind base; 
@tailwind components;
@tailwind utilities;


html {
    --scroll-behavior: smooth!important;
    scroll-behavior: smooth!important;
    }

    
body {
    margin: 0;
    background-color: #f9f9f9;
    color: black;
    font-family: "Nunito";
    scroll-behavior: smooth;
}


#hero {
    background-image: url("/img/hero.svg");
}


#action-button:hover {
    background-color: white;
    color: black;
    transition: 2s;
}


.btn.active {
    width: 2rem;
    background-color: #634832;
}


.page1.active {
    transform: translateX(-100%);
    transition: 0.75s;
}

.page2.active {
    transform: translateX(0px);
    transition: 0.75s;
}

.page3.active {
    transform: translateX(-200%);
    transition: 0.75s;
}



